---
import Layout from "@/layouts/Layout.astro"
import "@/styles/globals.css"
import ClneImage from "@/assets/images/clne/clne.webp"
import ClneImage2 from "@/assets/images/clne/clne2.webp"
import ClneImage3 from "@/assets/images/clne/clne3.webp"
import ClneImage4 from "@/assets/images/clne/clne4.webp"
import ClneImage5 from "@/assets/images/clne/clne5.webp"
import BackNavigation from "@/components/backNavigation"
import { IoIosArrowForward } from "react-icons/io"
import DialogImage from "@/components/dialogImage"
---

<Layout title="Clne - Bryan Van Winnendael">
  <div class="w-full h-full bg-primary sm:p-5 p-2">
    <div class="bg-secondary rounded-[24px]">
      <BackNavigation title="Clne" client:load />
      <div class="p-5 pt-5 leading-7 [&:not(:first-child)]:mt-6">
        <DialogImage
          client:load
          image={ClneImage}
          classList="w-full max-h-96 rounded-[24px] object-cover"
          transitionName="clne"
          alt="clne"
        />
        <div
          class="bg-secondary flex justify-between items-center rounded-tr-[24px] p-5 mt-[-70px] z-50 relative w-5/6"
        >
          <h1
            class="scroll-m-20 text-5xl font-black tracking-tight lg:text-6xl text-primary"
          >
            Clne
          </h1>
          <p
            class="scroll-m-20 text-xl font-semibold tracking-tight text-muted-foreground"
          >
            2021
          </p>
        </div>
        <h4 class="scroll-m-20 text-xl font-semibold tracking-tight mt-2">
          Overview
        </h4>
        <p class="leading-7 text-primary">
          With Clne you can share your favorite moments in a form of a picture
          with your friends.
        </p>
        <h4 class="scroll-m-20 text-xl font-semibold tracking-tight mt-2">
          Problem
        </h4>
        <p class="leading-7 text-primary">
          I wanted to learn react and use a database so I decided to make a
          social media platform where you can share your favorite moments with
          your friends.
        </p>
        <h4 class="scroll-m-20 text-xl font-semibold tracking-tight mt-2">
          Built with
        </h4>
        <p class="leading-7 text-primary">
          Clne is built with react and firebase.
        </p>

        <h4 class="scroll-m-20 text-xl font-semibold tracking-tight mt-2">
          Screenshots
        </h4>
        <div class="mt-5 flex flex-col gap-4">
          <div class="flex md:flex-row flex-col gap-4">
            <DialogImage
              client:load
              image={ClneImage2}
              classList="w-auto max-h-96 h-full rounded-md object-cover shadow-sm"
              alt="clne2"
            />
            <DialogImage
              client:load
              image={ClneImage3}
              classList="w-auto max-h-96 rounded-md object-cover shadow-sm"
              alt="clne3"
            />
          </div>
          <div class="flex md:flex-row flex-col gap-4">
            <DialogImage
              client:load
              image={ClneImage4}
              classList="w-auto max-h-96 col-span-1 rounded-md object-cover shadow-sm"
              alt="clne4"
            />
            <DialogImage
              client:load
              image={ClneImage5}
              classList="w-auto max-h-96 col-span-1 rounded-md object-cover shadow-sm"
              alt="clne5"
            />
          </div>
        </div>

        <div
          class="flex gap-5 bg-secondary shadow-md w-fit p-5 rounded-[24px] mt-5"
        >
          <div>
            <p class="leading-7 text-muted-foreground">Site</p>
            <a
              target="_blank"
              href="https://clne.netlify.app/"
              class="w-full flex items-center text-blue-500 cursor-pointer"
            >
              Site <IoIosArrowForward />
            </a>
          </div>
          <div>
            <p class="leading-7 text-muted-foreground">Code</p>
            <a
              target="_blank"
              class="w-full flex items-center text-blue-500 cursor-pointer"
              href="https://github.com/BryanVanWinnendael/clone"
            >
              View code <IoIosArrowForward />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
